table {
    max-width: 80%;
}

.table-small {
    max-width: 40%
}

form {
    max-width: 40%;
}

.form-border {
    border: 1px solid lightgray;
}

.bold-row {
    font-weight: bold;
}

.expense {
    color: rgb(190, 0, 0);
}