table {
    max-width: 80%;
}

.table-small {
    max-width: 40%
}

form {
    max-width: 40%;
}

.form-border {
    border: 1px solid lightgray;
}

.bold-row,
.bold-row tr {
    font-weight: bold;
    border: 2px solid black;
}

.expense {
    color: rgb(190, 0, 0);
}

.alert {
    background-color: rgb(255, 215, 220);
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.table td,
.table th {
    /* max-width: 250px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-scroll {
    height: 400px;
    display: block;
}

.tbody-scroll {
    overflow-y: scroll;
    height: 360px;
    width: 80%;
    position: absolute;
    display: block;
}

.thead-scroll {
    width: 99%;
    position: relative;
    display: block;
}

.small-gutters {
    margin-right: 2em;
    margin-left: 2em;
}