<% layout('layouts/boilerplate')%>

    <h1 class="display-4">Create a new transaction</h1>
    <form class="form-border validated-form" action="/transactions" method="post" novalidate>
        <div class="form-group row">
            <label for="account" class="col-sm-3 col-form-label">Account:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="account" name="transaction[account]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">Date:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="date" name="transaction[date]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label">Category:</label>
            <div class="col-sm-5">
                <select name="transaction[category]" id="category">
                    <% for(let category of categories){ %>
                    <option class="form-control" value="<%=category%>"><%=category%></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="company" class="col-sm-3 col-form-label">Company:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="company" name="transaction[company]">
            </div>
        </div>
        <div class="form-group row">
            <label for="notes" class="col-sm-3 col-form-label">Notes:</label>
            <div class="col-sm-5">
                <textarea rows="4" class="form-control" id="notes" name="transaction[notes]"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="amount" class="col-sm-3 col-form-label">Amount:</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" step="0.01" id="amount" name="transaction[amount]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="clearingDate" class="col-sm-3 col-form-label">Clearing Date:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="clearingDate" name="transaction[clearingDate]">
            </div>
        </div>
        <button class="btn btn-success">Save</button>
    </form>
    <br>
    <a href="/transactions">Go Back</a>